{
  "BASE_URL": "https://vw-backend-staging-662955046370.asia-east1.run.app",
  "GOOGLE_CLIENT_ID": "223311252510-suu459iqa27d9jca8cn3eildmssr58vq.apps.googleusercontent.com",
  "GOOGLE_IOS_CLIENT_ID": "your-ios-client-id.apps.googleusercontent.com"
}
